<!doctype html>
<html lang='en' ng-app='app'>
    <head>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.12.0/build/cssreset/cssreset-min.css">
        <link href='lib/css/dashy.css' rel="stylesheet" type="text/css">
        <script src='lib/js/prettify.min.js'></script>
        <script src='lib/js/marked.min.js'></script>
        <script src='lib/js/angular.min.js'></script>
        <script src="/ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src='lib/js/dashy.js'></script>
        <title ng-bind='schema.title'></title>
    </head>
    <body ng-controller="editor">
        
        <ul class='objSelector'>
            <li ng-repeat='s in schema' ng-click='loadSchema(s)'
                ng-class="{'selected' : current.id == s.id}"
            >
                {{s.id}}
            </li>
            <li ng-click='newType()'>
                <b>+</b>
            </li>
        </ul> 

        <ul class='propSelector'>
            <li ng-repeat='(name, p) in current.properties' ng-click='loadProperty(p)'
                ng-class="{'selected' : current.id == p.id}"
            >
            {{name}} <span class='type'>({{p.type}})</span>
            </li>
            <li ng-click='newType()'>
                <b>+</b>
            </li>
        </ul> 


        <div class='details'>
            <div class='info'>
                <table>
                    <tr> <th>name</th><td click-to-edit='current.id'></td> </tr>
                    <tr> <th>type</th><td>{{current.type}}</td> </tr>
                </table>
            </div>
            <div class='json'>
                <b ng-bind='getJSON()'></b>
            </div>
        </div>

    </body>
</html>
