
<!DOCTYPE html>
<html ng-app='app'>
<head>

    <meta charset="utf-8">
    <title> {{ schema.title || 'Schema Name' }} </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/lib/css/normalize.css">
    <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/css/xeditable.css">
    <link rel="stylesheet" href="/lib/css/dashy.css">

    <script src='lib/js/prettify.min.js'></script>
    <script src='lib/js/marked.min.js'></script>
    <script src='lib/js/angular.min.js'></script>
    <script src="lib/js/xeditable.min.js"></script>
    <script src='lib/js/dashy.js'></script>

</head>

<body ng-controller="editor">
    
    <div class="container">

        <div class="row">
                
            <div id="schemaSelector" class="col-lg-2">
                
                 <ul>

                    <li ng-repeat='s in schema' ng-click='loadSchema(s)' ng-class="{'selected' : currentSchema.id == s.id}">

                        {{ s.id }}

                    </li>

                    <li ng-click='newSchema()'>

                        <b>+</b>

                    </li>

                </ul>

            </div>
                        
            <div id="content" class="col-lg-8">

                <pre ng-bind-html-unsafe='getJSON()'></pre>
            
            </div>

            <div id="sidebar" class="col-lg-2">

                <div id="propSelector" class="col-md-12">

                    <ul> 

                        <li ng-repeat='(name, p) in currentSchema.properties' ng-click='loadProperty(name, p)' ng-class="{'selected' : currentSchema.id == p.id}" >

                            {{ name }} 

                            <span class='type'> ({{ p.type }}) </span>

                        </li>

                        <li ng-click='newAttribute()'>

                            <b>+</b>

                        </li>

                    </ul>

                </div>

                <div id="attribSelector" class="col-md-12">

                    <div ng-show="currentProperty.name.length > 0">

                        <br>

                        Editing <i> {{ currentProperty.name }} </i>
                    
                        <br><br>

                        Type: <a href="#"" editable-select="currentProperty.prop.type" e-ng-options="s.value as s.text for s in schemaTypes">
                            {{ currentProperty.prop.type }}
                        </a>

                    </div>

                </div>

            </div>
                
        </div>

    </div>

</body>
</html>